{{#each project}}
<a class="carousel-item" href={{this.link}}>
    <h3 id={{this.project_name}} class="link">{{this.project_name}}</h3>
    <img src={{this.image_link}} id="projectImg" alt={{this.project_name}}>
</a>
{{/each}}